.signup-form {
    border: 3px solid #8D6A9F;
    background-color: #C5CBD3;
    border-radius: 5px;
    /* height: 230px; */
    width: 400px;
}
.signup-form h1 {
    display: flex;
    justify-content: center;
}
.signup-form label {
    display: flex;
    /* width: 100%; */
    margin: 0px 10px 20px 10px;
    justify-content: space-between;
}
.signup-form label input {
    width: 50%;
}
.signup-form p {
    display: flex;
    justify-content: center;
}

.signup-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.signup-button-container button {
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}