.navigation-container {
    /* border: 2px solid #8D6A9F; */
    display: flex;
    height: 80px;
    /* background-color: rgb(21, 25, 32); */
    /* align-items: center; */
}
.nav-links {
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.nav-text {
    font-size: 25px;
    /* border: 1px solid black; */
    margin-left: 45px;
    margin-bottom: 3px;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 5px;
}
.nav-text:hover {
    color: #C5CBD3; 
    background-color: #8D6A9F;
}
.bounties {
    /* border: 1px solid black; */
    width: 15%;
    height: 45%;
}
.leaderboards {
    /* border: 1px solid black; */
    width: 22%;
    height: 45%;
}

.prof-button-container {
    /* border: 1px solid black; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.prof-button-container button {
    /* border: 1px solid black; */
    font-size: 14px;
    padding: 10px 20px; 
    /* background-color: #f0f0f0;  */
    background-color: #C5CBD3;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    margin-right: 45px;
}
.login-signup-container {
    /* border: 1px solid black; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login-signup-container button {
    font-size: 15px;
    padding: 10px 20px; 
    /* background-color: #f0f0f0;  */
    background-color: #C5CBD3;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}
.login-signup-container button:hover {
    background-color: #8D6A9F; 
    color: #f0f0f0;
}



.line-break {
    width: 98%;
    border: 1px solid #8D6A9F;
    margin: 0px 1% 0px 1%;
}

